*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    color:#636363;
    font-family: Roboto,sans-serif;
    font-weight:400;
    line-height:1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn-grad {
    padding:20px 35px;
    font-size:15px;
    font-weight:500;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    border:1px solid transparent;
    transition:all .5s;
    border-radius:30px;
    color:#fff;
    cursor:pointer;
    outline:0;
    text-transform:uppercase;
    line-height:1.2;
}

.btn-grad:hover {
    background-position: right center;
}


/* ---------------HEADER---------------- */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-content nav {
    display: flex;
    align-items: center;
}

.header .header-content ul {
    display: flex;
    margin-right: 30px;
}

.header .header-content li {
    padding: 55px 15px;
}

.header .header-content li a {
    color:#070120;
    text-transform:capitalize;
    font-size:15px;
    font-weight:500;
    transition:all .5s;
}

.header .header-content li:hover a {
    color:#f55f8d;
}

.header .header-content span {
    display: inline-block;
}

.header .header-content li:hover span {
    animation: MoveUpDown 0.3s forwards;
}


.header .header-content i {
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

/* --------------CAROUSEL ---------------*/

.carousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.carousel .carousel-content {
    display: flex;
    align-items: center;
}

.carousel .carousel-content .carousel-left {
    width: 60%;
}

.carousel .carousel-content .carousel-right {
    width: 40%;
}

.carousel .carousel-content li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.carousel .carousel-content ul {
    margin-bottom: 20px;
}

.carousel .carousel-left .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.carousel .carousel-left  .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.carousel .carousel-left .item p {
    font-size: 18px;
    margin-bottom: 15px;
}

.carousel .carousel-left .item i {
    width:35px;
    height:35px;
    line-height:35px;
    text-align:center;
    font-size:24px;
    color:#fff;
    border-radius:35px;
    font-weight:900;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    margin-right:10px;
}

.carousel .carousel-right .carousel-img {
    width: 570px;
    margin-left: 50px;
}

.carousel .carousel-right .carousel-img img {
    max-width: 100%;
    display: block;
}

/*------------- SERVICE -----------------*/

.services {
    padding-top: 115px;
    padding-bottom:0;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.services .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.services  .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.services .services-content .services-item {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.1);
    padding: 30px 45px;
    transition:all .5s;
}

.services .services-content .services-item:hover {
    transform:translateY(-20px);
    cursor: pointer;
}

.services .services-content .services-item img {
    width: 215px;
}

.services .services-content .services-item h3 {
    font-weight: 700;
    font-size: 24px;
    color:#262626;
    margin: 15px 0;
}


/* ------------ABOUT US------------------- */

.about {
    padding-top: 115px;
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.about .about-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.about .about-content .about-left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.about .about-content .about-left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about .about-content .about-right {
    width: 50%;
}

.about .about-content .about-right .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.about .about-content .about-right .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.about .about-content .about-right i {
    font-size: 24px;
    color:#f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

.about .about-content .about-right p {
    margin-bottom: 15px;
}

.about .about-content .about-right ul {
    margin-bottom: 30px;
}

/* -----------------NUMBER------------ */

.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number .number-content {
    display: flex;
    justify-content:space-around;
}

.number .number-content .number-item {
    width: 25%;
}

.number .number-content .number-item i {
    font-size: 45px;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    color:#fff;
    width:80px;
    height:80px;
    line-height:80px;
    display:inline-block;
    border-radius:50%;
    margin-bottom:15px;
}

.number .number-content .number-item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color:#f55f8d;
    line-height:1;
}

.number .number-content .number-item p:last-of-type{
    color: #262626;
    font-size: 18px;
}


/* -----------FEATURES---------------- */


.features {
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size:100%;
    background-position:center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features .features-content {
    display: flex;
}

.features .features-left, .features .features-right {
    width: 50%;
}

.features .features-left .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.features .features-left .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.features .features-left .features-item {
    padding: 0 50px 30px 0;
}

.features .features-left .features-item:nth-of-type(2){
    padding: 0 0 30px 50px;
}

.features .features-left .features-item .features-card {
    box-shadow:0 0 60px 0 rgb(0 0 0 / 10%);
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.features .features-left .features-item .features-card::after{
    content:"";
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:all 1s;
}

.features .features-left .features-item .features-card:hover::after{
    opacity: 1;
    cursor: pointer;
}

.features .features-left .features-card i {
    font-size: 80px;
    line-height:1;
    color:#f55f8d;
    z-index: 1;
    transition:all 1s;
}

.features .features-left .features-card h3 {
    font-weight: 800;
    color:#262626;
    font-size: 24px;
    transition:all 1s;
}

.features .features-left .features-card div {
    padding-left: 25px;
    z-index: 1;
    transition:all 1s;
}

.features .features-left .features-card:hover div, .features .features-left .features-card:hover h3, .features .features-left .features-card:hover i {
    color: #fff;
    cursor: pointer;
}

.features .features-right .features-img {
    margin-right: -80px;
}

.features .features-right .features-img img {
    max-width: 100%;
    animation: move2 5s infinite;
}


/* -------------PORTFOLIO------------- */

.portfolio{
    padding-top: 115px;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: top center;
    text-align: center;
}

.portfolio .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.portfolio .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio .portfolio-item1 {
    grid-column: 1/span 2;
}

.portfolio .portfolio-item5 {
    grid-column: 1/span 2;
}

.portfolio .portfolio-item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio .portfolio-item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-item img {
    width: 100%;
    height: 100%;
}

.portfolio .portfolio-item::before {
    content:"";
    width: 50%;
    height:100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform:skewX(-25deg);
    transition:all .75s;
}

.portfolio .portfolio-item:hover::before {
    left: 125%;
}

.portfolio .portfolio-item .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition:all 0.75s;
}

.portfolio .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-icon {
    position:absolute;
    top:20px;
    right:20px;
    font-size:28px;
    color:#fff;
    width:50px;
    height:50px;
    line-height:50px;
    background:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    border-radius:10px;
    transform:translate(20px,-20px);
    transition:all .75s;
}

.portfolio .portfolio-item:hover .portfolio-icon{
    transform:translate(0);
}

.portfolio .portfolio-item .portfolio-icon a {
    cursor: pointer;
}

.portfolio .portfolio-text {
    position:absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition:all .75s;
}

.portfolio .portfolio-item:hover .portfolio-text {
    transform:translateY(0);
}

.portfolio .portfolio-text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

.portfolio .portfolio-text p {
    color: #fff;
    opacity: 0.7;
}

/* --------------PLAN------------------ */

.plan {
    padding-top: 115px;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.plan .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.plan .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.plan .plan-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px;
}

.plan .plan-item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50 rgb(0,0,0,0.1);
    border-image: 100 round;
    transition:all 0.5s;
}

.plan .plan-item:hover{
    border-image: url(../img/br.png) 1 round;
}

.plan .plan-item img {
    width: 125px;
}

.plan .plan-item h3 {
    font-weight: 700;
    color:#262626;
    font-size: 32px;
}

.plan .plan-item li, .plan .plan-item p {
    font-size: 18px;
    color:#262626;
    font-weight: 600;
}

.plan .plan-item li {
    font-weight: 400;
}

.plan .plan-item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan .plan-item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan .plan-item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color:#f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}


/* ----------TESTIMONIAL----------- */
.testimonial {
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
}

.testimonial .title p {
    font-weight:600;
    font-size:22px;
    margin-bottom:20px;
    color:#f55f8d;
}

.testimonial .title h2 {
    font-size:70px;
    line-height:1.1;
    font-weight:800;
    color:#262626;
    margin-bottom:20px;
}

.testimonial .testimonial-content {
    min-height: 300px;
}

.testimonial .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition:all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding:0 0 40px;
}

.testimonial .testimonial-thumbs::after, .testimonial .testimonial-thumbs::before {
    content:"";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

.testimonial .testimonial-thumbs::before {
    left:0;
    background:linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial .testimonial-thumbs::after {
    right:0;
    background:linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition:all 1s;
    background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.testimonial-pic .shape-bx::before {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition:all 1s;
}

.testimonial-pic::after,.testimonial-pic::before {
    content:"";
    background-color:#f55f8d;
    border-radius:50px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
}

.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom:auto
}

.swiper-pagination-bullet-active {
    background:#f55f8d
}

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color:#f55f8d;
    transform: rotate(-180deg);
}

.testimonial-text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial-name {
    font-size: 22px;
    font-weight:  800;
    color:#000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-position {
    font-size: 15px;
    color:#f55f8d;
    margin-bottom: 20px;
    padding: 0;
}

/*------------- BLOG--------------- */

.blog {
    padding-top: 115px;
    padding-bottom:50px;
    background-image: url(../img/bg16.png);
    background-position: top center;
    background-size: cover;
    text-align:center;
}

.blog .blog-item {
    text-align: left;
    background: rgba(245,95,141,0.1);
    border-radius: 8px;
}

.blog-header {
    padding: relative;
}

@keyframes MoveUpDown {
    49% {
        transform:translateY(100%)
    }
    50% {
        opacity:0;
        transform:translateY(-100%)
    }
    51% {
        opacity:1
    }
}

@keyframes move2 {
    0% {
        transform:rotate(1deg) translate(2px,2px)
    }
    50% {
        transform:rotate(-1deg) translate(-2px,-2px)
    }
    100% {
        transform:rotate(1deg) translate(2px,2px)
    }
}
