*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    color:#636363;
    font-family: Roboto,sans-serif;
    font-weight:400;
    line-height:1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

container {
    max-width: 1280px;
    margin: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
}

.header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-grad {
    padding:20px 35px;
    font-size:15px;
    font-weight:500;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size:200%;
    border:1px solid transparent;
    transition:all .5s;
    border-radius:30px;
    color:#fff;
    cursor:pointer;
    outline:0;
    text-transform:uppercase;
    line-height:1.2
}

.btn-grad:hover {
    background-position: right center;
}